html {
	font-family: 'Quicksand', cursive;
	font-size: 18px;
}

body {
	margin: 0px;

}

.main-container {
	width: 1200px;
	display: block;

	height: auto;
	padding: 0 20px 0 20px;
	margin-left: auto;
	margin-right: auto;
}



.section-intro {
  padding-bottom: 150px;
}

@keyframes kouros-arrow-vert-animate {
	from {height: 0px;}
	to {height: 150px;}
}

@keyframes kouros-arrow-hor-animate {
	from {width: 0px;}
	to {width: 370px;}
}

.kouros-arrow {
	position: absolute;
	  margin-left: 310px;
    border-left: 20px solid #eec9e6;
		height: 0px;
		border-bottom: 20px solid #eec9e6;
		width: 0px;
		animation-name: kouros-arrow-vert-animate, kouros-arrow-hor-animate;
		animation-delay: 0s, .5s;
		animation-duration: .5s;
		animation-fill-mode: forwards;
}

@keyframes arrowhead {
	from {border-left: 0px}
	to {border-left: 30px}

}

.arrow-right {
	position: relative;
	margin-left: 350px;
	margin-top: 108px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  animation-name: arrowhead;
	animation-duration: 1s;
  border-left: 30px solid #eec9e6;
}






.img-face {

	float: right;
	border-radius: 50%;
	margin-right: 125px;

}

.section {
	font-family: Poiret One;
}
nav {
	background-color: #b8f8d4;
	box-shadow: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.nav-menu li {
	font-size: 22px;
	font-weight: bold;
	padding: 0 40px 0 40px;
}

.fancy-name {
	text-align: center;
}

.welcome {
	font-size: 40px;
	font-weight: 600;
	color: #b8f8d4;
	font-family: 'Poiret One', cursive;
}



.project-container {
	margin: auto;
	display: flex;
}

.project-info {
	flex: 3;
	width: 100%;
	margin-right: 40px;
}

.project-picture {
	flex: 2;
	min-width: 0;
}

.collapsible {
	margin: 0;
}

.collapsible-header:hover {
	background-color: #e8fcf1;
}
.collapsible-header.active {
	background-color: #e8fcf1;
}

.job-duration{
	float: right;
}

.job-content li{
	list-style-type: circle !important;
	list-style-position: inside;
}
