html {
	font-family: 'Quicksand', cursive;
	font-size: 20px;
}

p {
	margin: 10px 0 10px 0;
}

body {

	position: relative;
	margin: 0px;
}

a {
	color: #62DB97;
}

a:hover{
	color: #21B461;
}


#mainNav {
	z-index: 2;

	width: 100%;
}


.nav-link {
	color: #8BECB5;
}

.nav-item .active {
	color: white;
}

.nav-item :hover {
	color: #B8F8D4;
}

.anchor-padding {
	padding-top: 1px;
}


.fancy-name {
	padding-top: 55px;
	text-align: center;
}

.section-intro {
  padding-bottom: 150px;
}

.kouros-arrow {
	position: absolute;
	margin-top: -38px;
	margin-left: 310px;
  border-left: 20px solid #b8f8d4;
  border-bottom: 20px solid #b8f8d4;
  width: 0px;
  animation-name: kouros-arrow-vert-animate, kouros-arrow-hor-animate;
  animation-delay: 0s, .5s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes kouros-arrow-vert-animate {
	from {height: 0px;}
	to {height: 200px;}
}

@keyframes kouros-arrow-hor-animate {
	from {width: 0px;}
	to {width: 390px;}
}

.codes-arrow {
	margin-top: -220px;
	z-index: -1;
	position: relative;
	border-right: 20px solid #b8f8d4;
  border-bottom: 20px solid #b8f8d4;
	margin-left: 544px;
	animation-name: codes-arrow-vert-animate;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}

@keyframes codes-arrow-vert-animate {
	from {height: 0px;}
	to {height: 382px}
}

.codes-arrow-hor {

	position: relative;
	z-index: -1;
  border-right: 20px solid #b8f8d4;
	border-bottom: 20px solid #b8f8d4;
	animation-name: codes-arrow-hor-animate, codes-arrow-hor-adjust, code-arrow-display;
	animation-duration: .5s, .5s, .6s;
	animation-delay: .5s;
	animation-fill-mode: forwards;
	margin-left: 544px;
	margin-top: -20px;
}

@keyframes codes-arrow-hor-animate {
  from {width: 0px;}
	to {width: 628px;}
}

@keyframes codes-arrow-hor-adjust {
  from {margin-left: 544px;}
	to {margin-left: -64px;}
}

@keyframes code-arrow-display {
	from {display: none;}
	to {display: inline;}
}

.arrow-left {
	position: relative;
	margin-left: -75px;
	margin-top: -40px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  animation-name: arrowhead;
	animation-duration: .2s;
	animation-delay: .85s;
  border-right: 30px solid #b8f8d4;
	transform: scale(.01);
	animation-fill-mode: forwards;
}

.arrow-right {
	position: relative;
	margin-left: 370px;
	margin-top: 159px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  animation-name: arrowhead;
	animation-duration: .2s;
	animation-delay: .85s;
  border-left: 30px solid #b8f8d4;
	transform: scale(.01);
	animation-fill-mode: forwards;
}

@keyframes arrowhead {
	from {transform: scale(.01)}
	to {transform: scale(1)}
}

.img-face {
	float: right;
	border-radius: 50%;
	margin-right: 125px;
	border-style: solid;
	border-width: 10px;
	border-color: white;
}

.main-container {
	width: 1200px;
	display: block;
	height: auto;
	padding: 0 20px 0 20px;
	margin-left: auto;
	margin-right: auto;
}
.section {
	font-family: Poiret One;
	font-weight: bold;
	font-size: 80px;
	margin-top: 130px;
	margin-bottom: 0px;
	padding: 0px;
}


.project-name{
	margin: 50px 0 0px 0;
	font-size: 35px;
}

.project-container {
	margin: auto;
	display: flex;

}

.nav-container {
	display: flex;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
}

.project-info {
	flex: 3;
	width: 100%;
	margin-right: 40px;
}

.project-picture {
	margin-top: 10px;
	flex: 2;
	min-width: 0;
}

.github{
	font-size: 30px;
}

.job-name {
	margin: 10px 0 10px 0;
}
.collapsible{
	margin-top: 10px;
	margin-bottom: 20px;
}

.collapsible-header {
	padding: 15px 15px 15px 15px;
}

.collapsible-body {
	padding: 15px 25px 15px 25px;
}

.collapsible-header:hover {
	background-color: #EAFEF3;
}
.collapsible-header.active {
	background-color: #EAFEF3;
}

.resume-section {
	margin: 50px 0 0 0;

}

.job-duration{
	float: right;
}



.job-content li{
	list-style-type: circle !important;
	list-style-position: inside;
}

.job-content {
	margin: 0 0 40px 0;
}

.logos {
	max-width: 75px;
	height: auto;
	margin: 50px 50px 0 0;
}

.form-container{
	display: flex;
}

textarea {
	padding: 4px;
}

input:focus {
  border-bottom-color: #8BECB5 !important;
	border-bottom-width: 1px !important;
  outline: none;
}

textarea:focus {
  border: 1.5px solid #8BECB5;
  outline: none;
}

.btn {
	color: #8BECB5;
	background-color: black;
}
